#page #featured {
  font-family: 'Courier New',Courier,Monospace;
  background-color: #ccffeb;
  color: #780078;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}

#main-wrapper #main {
  background-color: #fffaff;
}

.region #block-system-navigation {
  background-color: #ffffff;
}

.region #block-search-form {
  background-color: #ffffff;
}

.region #block-block-2 {
  background-color: #ffffff;
}

.region #block-block-3 {
  background-color: #ffffff;
}

.region #block-block-6 {
  background-color: #ffffff;
}

